<mapper namespace="com.lagou.dao.IUserMapper">

    <!--sql的唯一标识，namespace.id来组成，statementId-->
    <select id = "selectList" resultType="com.lagou.pojo.User">
        select * from user
    </select>

    <!--
        User user = new user(){}
    -->
    <select id = "selectOne" resultType="com.lagou.pojo.User" paramsterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <insert id = "insertObj" paramsterType="com.lagou.pojo.User">
        insert into user (id,username) values (#{id},#{username})
    </insert>

</mapper>