<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.user.mapper.RegisterMapper">

    <insert id="insertUser" parameterType="java.lang.String" useGeneratedKeys="true" keyProperty="id">
        insert into lagou_token (email,token) values (#{email,jdbcType=VARCHAR},#{token,jdbcType=VARCHAR})
    </insert>
    <select id="selectUser" resultType="java.util.Map">
        select * from lagou_token
    </select>
    <select id="selectCodeInExpiretTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(0) FROM `lagou_auth_code` t where t.email = #{email} and t.`code` = #{code} and now() <![CDATA[ < ]]> t.`expiretime`
    </select>
</mapper>